* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navBar {
    width: 100%;
    background-color: salmon;
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.navBarLink{
    text-decoration: none;
    color: black;
    font-size: large    ;
}
.navBarLink:hover{
    color: green;
}
.active{
    color: green;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: bisque;
    padding:10px;
}